[submodule "packages/animate"]
	path = packages/animate
	url = git@github.com:VitorLuizC/animate.git
[submodule "packages/format-date"]
	path = packages/format-date
	url = git@github.com:VitorLuizC/format-date.git
[submodule "packages/maybe"]
	path = packages/maybe
	url = git@github.com:VitorLuizC/maybe.git
[submodule "packages/create-request"]
	path = packages/create-request
	url = git@github.com:VitorLuizC/create-request.git
[submodule "packages/event-emitter"]
	path = packages/event-emitter
	url = git@github.com:VitorLuizC/event-emitter.git
[submodule "packages/insistence"]
	path = packages/insist
	url = git@github.com:VitorLuizC/insistence.git
