[submodule "packages/animate"]
	path = packages/animate
	url = git@github.com:VitorLuizC/animate.git
[submodule "packages/format-date"]
	path = packages/format-date
	url = git@github.com:VitorLuizC/format-date.git
[submodule "packages/maybe"]
	path = packages/maybe
	url = git@github.com:VitorLuizC/maybe.git
[submodule "packages/create-request"]
	path = packages/create-request
	url = git@github.com:VitorLuizC/intereq.git
