# Node.js modules.
node_modules/

# Log files.
*.log

# Finder settings files (MacOS).
.DS_Store

# NPM's lockfiles.
# We're using PNPM and it provides its own lockfile.
package-lock.json
npm-shrinkwrap.json‎

# Yarn's lockfile
# We're using PNPM and it provides its own lockfile.
yarn.lock
